<section class="property-binding container" style="margin-top: 30px; margin-bottom: 50px;">

  <article>
    <h3>1- Interpolation / Interpolação</h3>
    <p>String renderizada com interpolação: {{ url }}</p>
    <p>Resultado de 1+1 é: {{ 1+1 }}</p>
    <p>Resultado de 1+1 não é: {{ 1+1+GetValor() }}</p>
    <p>Curso de angular e gosto do curso é true: {{ CursoAn && GetGosto() }}</p>
    <p>Curso de angular e gosto do curso é false: {{ !CursoAn && GetGosto() }}</p>
  </article>

  <article>
    <h3>2- Proprety-binding</h3>
    <img src="{{ urlimg }}">
    <img [src]="urlimg">
    <img bind-src="urlimg">
  </article>

<br><br><br>

  <article>
    <h3>3- Proprety-class</h3>
    <h5>3.1- Class-Binding</h5>
    <select #opt (change)='0'>
      <option value="alert-success">Sucesso</option>
      <option value="alert-info">Info</option>
      <option value="alert-warning">Aviso</option>
      <option value="alert-danger">Erro</option>
    </select>
    <br><br>
    <div class="alert {{opt.value}}">Cor muda de acordo com o select</div>
    <br>
    <div class="alert" role="alert" [class.alert-success]="opt.value == 'alert-success'">SUCESSO</div>
    <div class="alert" role="alert" [class.alert-info]="opt.value == 'alert-info'">INFO</div>
    <div class="alert" role="alert" [class.alert-warning]="opt.value == 'alert-warning'">AVISO</div>
    <div class="alert" role="alert" [class.alert-danger]="opt.value == 'alert-danger'">ERRO</div>
    <div [style.display]="opt.value == 'alert-danger' ? 'block' : 'none'">
      <h5>3.2- Style-Binding</h5>
      <div class="alert alert-danger" role="alert">APARECE APENAS QUANDO OPT.VALUE É IGUAL A DANGER</div>
    </div>
  </article>

  <article>
    <h3>EVENT BINDING</h3>
    <button class="btn btn-outline-success" (click)="meClique()">Clique em mim</button>
<br><br>
    <input type="text" #campo
    (keyup)="onKeyUp($event)"
    (keyup.enter)="onKeyOut($event.target.value)"
    (blur)="onKeyOut(campo.value)" ><br>
    <p>O texto atual é: {{valorAtual}}</p>
    <p>O texto salvo é: {{valorSalvo}}</p><br>

    <span
    (mouseover)="onMouse()"
    (mouseout)="onMouse()"
    [class.brilho]="isMouseOver"
    >Passe o mouse sobre mim</span>
    <br><br>
    <!--Diferença entre Paragrafo e Span-->
    <p
    (mouseover)="onMouse()"
    (mouseout)="onMouse()"
    [class.brilho]="isMouseOver"
    >Passe o mouse sobre mim</p>

  </article>

  <article>
    <h3>TWO-AWAY DATA BINDING</h3>
    <label>Modo 1: </label>
    <input type="text" [value]="nome" (input)="nome = $event.target.value">
    <label>Nome: {{nome}}</label>
    <br>
    <label>Modo 2: </label>
    <input type="text" [ngModel]="nome2" (ngModelChange)="nome2 = $event">
    <label>Nome: {{nome2}}</label>
    <br>
    <label>Modo 3: </label>
    <input type="text" [(ngModel)]="nome3">
    <label>Nome: {{nome3}}</label>

  </article>
</section>

